/* Custom properties */
 @import url('https://api.fonts.coollabs.io/css2?family=Pacifico&display=swap');

:root {
    --color1: white;
    --color2: black;
    --color3: #cea716;
    --grey-bg: hsl(240, 20%, 10%);
}

/* Typography */

body {
    margin: 0;
    position: relative;
    min-height: 100%;
}
html,body {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}


/* Layout */


a {
    text-decoration: none;
}

nav > a:not(.home-anchor) {
    margin-top: .3em;
}

.dropdown {
   padding-top: .2em; 
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 10em;
    box-shadow: 0 8px 16px 0 black;
    padding: .3em;
    z-index: 1;
}

.dropdown button {
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    color: inherit;
    font-weight: bold;
    font-family: inherit;

}

.home-anchor {
    font-family: 'Pacifico', cursive;
    transform: rotate(-15deg);
}

.home-anchor:hover {
    transform: scale(1.7) rotate(-15deg);
}

.mobile-navigation-bar,
.close {
    display: none;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--grey-bg);
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5em;
    color: var(--color1);
}

.fa-calendar-days {
    color: var(--color3);
}


nav a,
footer a{
    color: var(--color1);
}

nav a:hover,
footer a:hover {
    color: var(--color3);
}

p {
    max-width: 70ch;
    font-size: 1.5rem;
    margin:auto;
}

img {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    background-color: var(--grey-bg);
    color: var(--color1);
}

footer section {
    margin: 1em;
}

.switch {
    position: absolute;
    top: 1em;
    right: 13%;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Media queries */
