<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block meta %}
	{% endblock %}

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
	{% block navbar %}
	    {{ render(controller('App\\Controller\\NavbarController::navbar')) }}
	{% endblock %}
        {% block body %}{% endblock %}
	{% include('partial/_footer.html.twig') %}
    </body>
</html>
