{% extends 'base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
	<script src="https://kit.fontawesome.com/219e5302bf.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <ul>
	{% for post in posts %}
	    <li>{{ post.name }}</li>
	{% endfor %}
    </ul>
{% endblock %}
