<footer>
    <section>
	<h3>Obserwuj mnie</h3>
	<div class="social-container">
	    <a href="https://github.com/sewe2000" target="_blank"><i class="fab fa-github"></i></a>
	    <a href="https://github.com/k3yboarders" target="_blank">
		<img src="{{ asset('images/k3yboarders_logo.png') }}" alt="k3yboarders logo">
	    </a>
	    <a href="http://git.sevedev.com" target="_blank"><i class="fa-brands fa-git"></i></a>
	    <a href="https://www.hackerrank.com/serwer3103" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
	</div>
    </section>
    <section>
	<h3>Polecane strony</h3>
	<ul>
	    <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
	    <li><a href="https://zsem.edu.pl" target="_blank">ZSEM</a></li>
	    <li><a href="https://developer.mozilla.org" target="_blank">MDN Web Docs</a></li>
	</ul>
    </section>
</footer>
